@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="jumbotron">
        <h1>Добро пожаловать на сайт!</h1>
        <p> Зарегистрируйтесь и получите доступ к нашей библиотеке</p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Account/Register" type="button" class="btn btn-default">Регистрация</a>

                <a href="/Account/Login" type="button" class="btn btn-default">Вход</a>
            </div>
        </div>
    </div>
</div>