<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.SharePoint.Client.dll.withXML" version="15.0.4865.1000" targetFramework="net472" />
  <package id="Microsoft.SharePoint.Client.Runtime.dll" version="15.0.4859.1000" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net472" />
</packages>